<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.pcpulse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PC Pulse</name>
  <description>PC Pulse Mobile Evaluator</description>
  <author email="you@example.com" href="http://example.com/">PC Pulse Dev</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="false" />
</widget>
